<%- include('partials/_header') %>
    <div class="container-fluid d-flex flex-column align-items-center mt-5">
        <h1 class="text-center">BIENVENIDO AL SISTEMA DE SOLICITUDES DE EMPLEO</h1>
        <h1 class="text-center">Corporación Lourdes y Sao Paulo</h1>
        <br>
        <div class="mg">
            <ul>
                <li><b>RUC: </b>20496996543</li>
                <li><b>Razón Social: </b>CORPORACION LOURDES Y SAO PAULO EIRL</li>
                <li><b>Empresa: </b>Empresa Individual de Resp. Ltda</li>
                <li><b>Condición: </b>Activo</li>
                <li><b>Fecha Inicio Actividades: </b>12 / Junio / 2000</li>
                <li><b>CIIU: </b>52310</li>
                <li><b>Dirección Legal: </b>Av. Coronel Francisco Bologne Nro. 211</li>
                <li><b>Urbanizacion: </b>Cercado de Yanahuara</li>
                <li><b>Distrito / Ciudad: </b>Yanahuara</li>
                <li><b>Departamento: </b>Arequipa, Perú</li>
                </ol>
        </div>

    </div>
    <%- include('partials/_footer') %>